<div class="page-header">
  <%= link_to new_trail_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Trail
  <% end %>
  <h1>MTB Trails</h1>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
            <th>Trail name</th>
            <th>Skill level</th>
            <th>Trail type</th>
            <th>Mileage</th>
            <th>Description</th>
            <th>Location</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @trails) do |trail| %>
            <td><%= trail.trail_name %></td>
            <td><%= trail.skill_level %></td>
            <td><%= trail.trail_type %></td>
            <td><%= trail.mileage %></td>
            <td><%= trail.description %></td>
            <td><%= trail.location %></td>
            <td><%= link_to "Reviews", trail %></td>
            <td><%= link_to 'Edit', edit_trail_path(trail) %></td>


      <% end %>
    </tbody>
  </table>
</div>
