<div class="page-header">
  <%= link_to trails_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>

  <h1>Trail details</h1>
</div>

<dl class="dl-horizontal">
  <dt>Trail name:</dt>
  <dd><%= @trail.trail_name %></dd>

  <dt>Skill level:</dt>
  <dd><%= @trail.skill_level %></dd>

  <dt>Trail type:</dt>
  <dd><%= @trail.trail_type %></dd>

  <dt>Mileage:</dt>
  <dd><%= @trail.mileage %></dd>


  <dt>Description:</dt>
  <dd><%= @trail.description %></dd>

  <dt>Location:</dt>
  <dd><%= @trail.location %></dd>

</dl>



<% @trail.trail_reviews.each do |review| %>
<div class="form-group">
  <label for="comment"></label>
  <textarea class="form-control" rows="5" id="comment">
  <%= "#{review.created_at}"%>
  <%= "#{review.user.first_name} #{review.user.last_name}" %>
  <%= "#{review.review}" %>
    </textarea>
    </div>
<% end %>
   <% if defined?(show) && (@user.trail_review == current_user) %>
  <%= link_to 'Destroy', @trail_review, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>


<%= link_to new_trail_review_path(trail: @trail.id), class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Add Review
<% end %>

