<div class="page-header">

  <%= link_to trails_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Trail Reviews</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered ">
    <thead>
      <tr>
            <th>User</th>
            <th>Trail</th>
            <th>Review</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @trail_reviews) do |trail_review| %>
            <td><%= trail_review.user_id %></td>
            <td><%= trail_review.trail_id %></td>
            <td><%= trail_review.review %></td>
            <td><%= link_to 'Show', trail_review %></td>
            <td><%= link_to 'Delete', trail_review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
