<div class="page-header">
  <%= link_to trail_reviews_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_trail_review_path(@trail_review), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Trail Reviews</h1>
</div>

<dl class="dl-horizontal">
  <dt>User:</dt>
  <dd><%= @trail_review.user_id %></dd>

  <dt>Trail:</dt>
  <dd><%= @trail_review.trail_id %></dd>

  <dt>Review:</dt>
  <dd><%= @trail_review.review %></dd>

</dl>
