<div class="page-header">


  <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
<%= link_to trails_path, class: 'btn btn-default'  do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>

 <!--  <%= form_for @user, method: :delete do |f| %>
  <%= f.submit "Delete!", class: 'btn btn-primary' %>
  <% end %>
 -->
  <h1>User Details</h1>
</div>

<dl class="dl-horizontal">
  <dt>First name:</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @user.last_name %></dd>

  <dt>Email:</dt>
  <dd><%= @user.email %></dd>

</dl>
